﻿@model donateReceive.Models.AddPhoneNumberViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<hr />


@using (Html.BeginForm("Edit", "AdditionalInformation"))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <div class="col-md-11 col-md-offset-3">
                <div class="form-horizontal">
                    <div class="col-md-offset-1" style="max-width:350px;word-wrap:break-word">
                        <p style="text-align:center"> Update Information.</p>

                    </div>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">

                        <div class="col-md-10">
                            @Html.LabelFor(m => m.bloodGroupId, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.DropDownListFor(model => model.bloodGroupId, new SelectList(Model.BloodGroups, "id", "Name"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.bloodGroupId)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Number, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control" @*,@Value=@Model.oldNumber.ToString()*@ }
                       })
                            @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10" style="text-align:center">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
