﻿@model donateReceive.Models.VerifyPhoneNumberViewModel
@{
    ViewBag.Title = "Verify Phone Number";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>@ViewBag.Title.</h3>
@using (Html.BeginForm("VerifyPhoneNumber", "AdditionalInformation", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    var number = @Model.PhoneNumber;
    <p> </p>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.PhoneNumber, new { @value = number})
    <h4> We just sent you a code via sms. Please enter the code to verify your phone number.</h4>
    <h5>@ViewBag.Status</h5>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Code, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
