﻿
@using System.Device.Location
@using Microsoft.AspNet.Identity



@model  donateReceive.Models.PostOrGetViewModel





@if (Model.post.Count() > 0)
{
    
    <div class="box-body chat" id="chat-box">
        @foreach (var item in Model.post)
        {
            var currentPosition = new GeoCoordinate(Model.status.latitude, Model.status.longitude);
            var statusPosition = new GeoCoordinate(item.latitude, item.longitude);
            var distance = Math.Round(statusPosition.GetDistanceTo(currentPosition) / 1000);
            var base64 = Convert.ToBase64String(item.photo);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

            
            <div class="item" style="background-color:#ffffff">
                <img src="@imgSrc" alt="user image" class="online">
                <p class="message" style="font-size:medium; min-height:40px;position:relative">
                    <a href="https://www.facebook.com/@item.facebookId/" class="name pull-left">

                        @item.userName
                    </a>
                    <small class=""><i class="fa fa-clock-o" style="margin:1%"></i>   has</small>
                    <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> ≈@distance km</small>


                    <b> @item.postedBloodGroup</b>
                    @if (item.displayPhoneNumber == true)
                    {
                        
                        if (item.phoneNumberVerified == true)
                        {
                            <small id="phonenumber" class=" text-red">(@item.phoneNumber) <span id="phonenumber" style="color:#af111c">&#10003;</span></small>
                        }
                        else
                        {
                            
                            <small id="phonenumber" class="text-muted">
                                (@item.phoneNumber)
                            </small>
                        }
                    }





                    <small class="text-muted pull-left" style="font-size:x-small;margin-right:30%"><i class="fa fa-clock-o"></i> @item.statusDateTime</small>

                </p>


                <p style="font-size:medium">  @item.extraInfo  </p>
                @if (item.Id != User.Identity.GetUserId())
                {
                    <button onclick="location.href='@Url.Action("Chat", "Chat", new { _Id = item.Id })'" type="button" id="messageButton" class="btn btn-default pull-right">Message</button>
                }
                <button onclick="location.href='@Url.Action("Comments", "PostComment", new { _Id = item.Id, _postedBlood = item.postedBloodGroup, verb ="has",_distance = distance.ToString() })'" type="button" id="commentButton" class="btn btn-default pull-right">Comment</button>
            </div>
        }
    </div>
   

}
else
{
    <div id="userlistResult">
        <p style="text-align:center; color:lightslategray"> Sorry, no one is available at the moment. :(</p>
    </div>
}



<div id="feedSpin" class="feedSpin">
    <div style="text-align:center">
        <img src="~/Content/spin.gif" alt="Loading, please wait" height="20" width="20" />
    </div>
</div>


