﻿
@model  List<MessageBoxViewModel>
@using Microsoft.AspNet.Identity
@using donateReceive.Models;


@*<div style="text-align:center;" id="messageLoad">
        <img src="~/Content/spin.gif" alt="Loading, please wait" height="20" width="20" />
    </div>*@


@if (Model.Where(e => e.authorId == User.Identity.GetUserId() || e.receiverId == User.Identity.GetUserId()).Count() > 0)
{

    foreach (var item in Model.Where(e => e.authorId == User.Identity.GetUserId() || e.receiverId == User.Identity.GetUserId()).OrderByDescending(e => e.sentDate))
    {
        ApplicationDbContext db = new ApplicationDbContext();

        ApplicationUser user = null;

        if (item.authorId == User.Identity.GetUserId())
        {
            user = db.Users.FirstOrDefault(e => e.Id == @item.receiverId);


        }
        else if (item.receiverId == User.Identity.GetUserId())
        {
            user = db.Users.FirstOrDefault(e => e.Id == @item.authorId);

        }
        var base64 = Convert.ToBase64String(user.photo);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        <li id="messages">
            @if (item.read == false && item.authorId != User.Identity.GetUserId())
            {

                <ul class="menu" id="messages" style="background-color:#af111c">
                    <li>

                        <a href="@Url.Action("Chat", "Chat", new { _Id = user.Id })">
                            <div class="pull-left">
                                <img src="@imgSrc" class="img-circle" alt="User Image">
                            </div>
                            <h4>
                                @user.UserName
                                <small><i class="fa fa-clock-o"></i> @item.sentDate</small>
                            </h4>
                            <p>@item.content</p>
                        </a>
                    </li>
                </ul>

            }
            else
            {


                <ul class="menu" id="messages">
                    <li>

                        <a href="@Url.Action("Chat", "Chat", new { _Id = user.Id })">
                            <div class="pull-left">
                                <img src="@imgSrc" class="img-circle" alt="User Image">
                            </div>
                            <h4>
                                @user.UserName
                                <small><i class="fa fa-clock-o"></i> @item.sentDate</small>
                            </h4>
                            <p>@item.content</p>
                        </a>
                    </li>
                </ul>

            }
        </li>
    }


}
else
{
    <div id="messageListResult" style="height:100%; width:100%;">


        <p style="text-align:center; color:lightslategray"> You have no messages.</p>


    </div>
}
<li style="text-align:center;display:block" id="messageSpin" class="messageSpin">
    <img src="~/Content/spin.gif" alt="Loading, please wait" height="20" width="20" />
</li>
