﻿

@model donateReceive.Models.liveChat

@using Microsoft.AspNet.Identity

@if (Model.messagesViewModel.Count() > 0)
{

    foreach (var item in Model.messagesViewModel)
    {



        if (item.senderId == User.Identity.GetUserId() && item.receiverId == Model.chatViewModel.chatterId)
        {
            <div id="sentMessages">
                <div class="speech-bubble">
                    <p class="message-sent pull-right">
                        <a href="#" class="name">
                            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i></small>

                        </a>
                        @item.messages
                    </p>

                </div>
            </div>
        }
        else if (item.senderId == Model.chatViewModel.chatterId && item.receiverId == User.Identity.GetUserId())
        {
            <div id="receivedMessages">
                <div class="speech-bubble">
                    @*<img src="@imgSrc" alt="user image" class="online" height="40" width="40">*@
                    <p class="message-rec pull-left">
                        <a href="#" class="name">
                            <small class="text-muted"><i class="fa fa-clock-o"></i>  </small>

                        </a>
                        @item.messages
                    </p>

                </div>
            </div>
        }

    }

}
else
{

}
<div id="chatSpin" class="chatSpin">
    <div style="text-align:center">
        <img src="~/Content/spin.gif" alt="Loading, please wait" height="20" width="20" />
    </div>
</div>