﻿@model donateReceive.Models.ChatViewModel
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Chat";

}

@section Scripts
{

    @Scripts.Render("~/Scripts/Index");
    @Scripts.Render("~/Scripts/signalr");
    <script src="~/signalr/hubs"></script>
    <script>
        var chatterId = @Html.Raw(Json.Encode(Model.chatterId));
        var RootUrl = '@Url.Content("~/")';

    var userId = @Html.Raw(Json.Encode(User.Identity.GetUserId()));
        var chatProxy = $.connection.chatHub;

            $.connection.hub.url = "https://localhost:44339/signalr";


            $.connection.hub.start().done(function () {
                       $.get('@Url.Action("ChatPartialView")', { 'page': 0 }, function (data, status, jqxhr) {
            $('#chatMessages').html(data);


        });


                $("textarea").keypress(function (event) {
                    if (event.keyCode == 13 && !event.shiftKey) {
                        submitForm(); //Submit your form here
                        console.log('entered');
                        event.preventDefault();
                      //  chatProxy.server.send_PrivateMessage(userId, $('#chat_message').val(), chatterId);
                    }

                });

                $('#sendMessage').on('click', function (e) {
                    e.preventDefault();
                    submitForm();

                    // Send Message to the Hub using the proxy instance

                 //   chatProxy.server.send_PrivateMessage(userId, $('#chat_message').val(), chatterId);

                    //  $('#txtMsg').val('').focus();
                })
            })

            chatProxy.client.receiveMessage = function (senderId, content, receiverId) {

                if (senderId == userId) {
                    $('#chatMessages').prepend('<div id="sentMessages"><div class="speech-bubble"><p class="message-sent pull-right"> <a href="#" class="name"><small class="text-muted pull-right" > <i class="fa fa-clock-o"></i></small ></a >' + content
                        + '</p></div> </div>');
                }
                else /*if (senderId == chatterId)*/ {
                    $('#chatMessages').prepend('<div id="receivedMessages"><div class="speech-bubble"><p class="message-rec pull-left"> <a href="#" class="name"><small class="text-muted pull-right" > <i class="fa fa-clock-o"></i></small ></a >' + content
                        + '</p></div> </div>');
                }

            };


    //function signalrconnection() {

    //    $.connection.hub.url = "https://localhost:44339/signalr";
    //    chat = $.connection.chatHub;
    //    $.connection.hub.logging = true;


    //    if (chat != undefined) {

    //        $.connection.hub.start()
    //        .done(function () {
    //            console.log('success');
    //            chat.server.send();
    //            chat = $.connection.chatHub;
    //        })
    //        .fail(function () { NoLTConnectionAlert(); });
    //    }
    //    else {
    //        ///do something.
    //    }
    //    return chat;
    //}



    </script>
    <script>
            var page = 0;
            var loadMore = true;
            $(function () {

                //$('#sendMessage').on('click', function (e) {
                //    e.preventDefault();
                //    var _message = $('#chat_message').val();
                //    var frmData={
                //        content: _message,

                //    };

                //    $.post("/Chat/PostMessage/", frmData, function (data, status, jqxhr) {

                //            document.getElementById("chat_message").value = "";
                //           // chat.server.send();

                //        });

                //    });


            });

            $(document).ready(function () {
        // get();
        @*$.get('@Url.Action("ChatPartialView")', { 'page': 0 }, function (data, status, jqxhr) {
            $('#chatMessages').html(data);


        });*@












        function loadMessage() {

            page++;
            console.log(page);
            $('.chatSpin').show();


            $.get('@Url.Action("ChatPartialView")', { 'page': page }, function (data) {

                if ($(data).filter('#sentMessages').length > 0 || $(data).filter('#receivedMessages').length > 0) {
                    $("#chatMessages").append(data);
                    loadMore = true;
                    $('.chatSpin').hide();


                }
                else
                {
                    loadMore = false;
                    $('.chatSpin').hide();
                }






            });

        }

        $("#chatMessages").scroll(function () {
            var div = $(this);

            if (loadMore && div.scrollTop()==0) {



                loadMore = false;
                loadMessage();


            }


        });

    })


   function submitForm(){

            var _message = $('#chat_message').val();
            var frmData = {
                content: _message,

            };
            chatProxy.server.send_PrivateMessage(userId, $('#chat_message').val(), chatterId);
          //  console.log(userId);
          //  console.log(chatterId);
          //  console.log($('#chat_message').val());
            document.getElementById("chat_message").value = "";

             //$.post("/Chat/PostMessage/", frmData, function (data, status, jqxhr) {

             //    document.getElementById("chat_message").value = "";


             //   });



        }


    </script>
}

@using (Html.BeginForm("Chat", "Chat"))
{
    @Html.AntiForgeryToken()

    <br />
    <br />
    var base64 = Convert.ToBase64String(Model.photo);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="box box-success">
                <div class="box-header" style="background-color:#af111c; color:white">
                    <i class="fa fa-comments-o"></i>
                    <img src="@imgSrc" alt="user image" class="online" height="40" width="40">
                    <h3 class="box-title">@Model.chatterName</h3>

                </div>
                <div class="box-body chat" id="chat-box" style="min-height:350px;">
                    <div id="chatMessages" style="min-height:inherit; display:flex;flex-direction:column-reverse; word-wrap:break-word;" class="pre-scrollable"></div>


                </div>
                <div class="box-footer">
                    <div class="input-group">
                        <div class="form-group">
                            <textarea name="chat_message" cols="10" rows="10" id="chat_message" class="form-control message" style="overflow: hidden;height:40px;" placeholder="Type your message.."></textarea>
                        </div>
                        <div class="input-group-btn">
                            <button type="button" id="sendMessage" class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



}
