﻿@model IEnumerable<donateReceive.Models.AdminStatusListViewModel>


<table class="table">
    <tr id="statuslistTr">
        <th>
           Photo
        </th>
        <th>
           Name
        </th>
        <th>
           Status
        </th>
        <th>
           Info
        </th>
        <th>
            Posted time
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    var base64 = Convert.ToBase64String(item.imageSrc);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

    <tr>
        <td>
            <img src="@imgSrc" alt="user image" class="online">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        @if (item.isAvailable == true)
        {
            <td>
               Available
            </td>
        }
        else if (item.isInNeed == true)
        {
            <td>
               In Need
            </td>
        }    
        <td style="max-width:300px;max-height:250px;overflow:auto;word-wrap: break-word">
            @Html.DisplayFor(modelItem => item.info)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.statusDateTime)
        </td>
        <td>
          @Html.ActionLink("Delete", "DeleteStatus", new { id=item.id }, new { onclick = "return confirm('Are you sure you wish to delete this status?');" })
        </td>
    </tr>
}

</table>
