﻿@model IEnumerable<donateReceive.Models.AdminUserListViewModel>


<table class="table">
    <tr id="userlistTr">
        <th>
           Photo
        </th>
        
        <th>
           Name
        </th>
      
        <th>
            Blood Group
        </th>
        <th>
           Phone Number
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    var base64 = Convert.ToBase64String(item.imageSrc);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

    <tr>
        <td>
            <img src="@imgSrc" alt="user image" class="online">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.bloodGroups)
        </td>
        @if (item.isVerified == true)
        {
        <td>
            <font color=#af111c>
                  @Html.DisplayFor(modelItem => item.phoneNumber)
             </font>
        </td>
        }
        else
        {
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
        }

<td>

            
            @Html.ActionLink("Delete", "DeleteUser", new { id=item.id }, new { onclick = "return confirm('Are you sure you wish to delete this user?');" })
        </td>
    </tr>
}

</table>
