﻿@model donateReceive.Models.LayoutMessageNumberViewModel

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<script>
    var userButton = false;
    var statusButton = false;
    var page = 0;

    $(function () {

      
        $('#userListButton').on('click', function (e) {
            userButton = true;
            statusButton = false;
            page = 0;
            $.get('@Url.Action("UserList")', { 'page': page }, function (data, status, jqxhr) {
                $('#list').html(data);
                

        });
        });
        $('#statusListButton').on('click', function (e) {

            statusButton = true;
            userButton = false;
            page = 0;
            $.get('@Url.Action("StatusList")', { 'page': page }, function (data, status, jqxhr) {
                $('#list').html(data);
                


        });
        });


        $(window).scroll(function () {
              
            if ($(window).scrollTop() + $(window).height() == $(document).height()) {
                console.log(page);
                console.log(statusButton);
                console.log(userButton);
                  page++;
                  if (userButton == true && statusButton == false)
                  {
                      $.get('@Url.Action("UserList")', { 'page': page }, function (data, status, jqxhr) {
                          if ($(data).filter('#userlistTr').length > 0) {
                              $('#list').append(data);
                              console.log(data);
                          }
                          else {

                          }
                      });
                  }

                  else if (userButton == false && statusButton == true)
                  {
                      $.get('@Url.Action("StatusList")', { 'page': page }, function (data, status, jqxhr) {
                          if ($(data).filter('#statuslistTr').length > 0) {
                              $('#list').append(data);

                              console.log(data);
                          }
                          else {

                          }
                        });
                  }
              }
          });
    })

</script>
<div class="btn-group ">
    <div class="btn-group">
        <button type="button" name="userListButtton" id="userListButton" value="available" class="btn btn-default type  "><span class="userList">User List</span></button>
    </div>
    <div class="btn-group">
        <button type="button" name="statusButton" id="statusListButton" value="inNeed" class="btn btn-default type  "><span class="statusList">Status List</span></button>
    </div>

</div>
<div id="list">
    
</div>