﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Donate Receive</title>

    <link href="@Url.Content("~/Content/newsfeed.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/chatbox.css")" rel="stylesheet" type="text/css" />
    <link rel="icon" href="@Url.Content("~/Content/blooddrop.ico")" />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")


    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/waypoint")

    @RenderSection("scripts", required: false)






</head>
<body style="background-color:#eee">


    <div class="navbar navbar-inverse navbar-fixed-top"  style="background-color:#af111c;border:#af111c">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Donate Receive", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li style="color:#eee">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li style="color:#eee">@Html.ActionLink("About", "About", "Home")</li>
                    <li style="color:#eee">@Html.ActionLink("Contact", "Contact", "Home")</li>

                </ul>
                @*@Html.Partial("_LoginPartial")*@

                <div class="navbar-custom-menu pull-right">
                    <ul class="nav navbar-nav">



                        @Html.Partial("_LoginPartial")
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>


    <div class="container body-content">
        @RenderBody()



    </div>



</body>
</html>
