﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -  Donate Receive</title>

    @*<link href="@Url.Content("~/Content/facebook.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/newsfeed.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="ExtraJs.js"></script>
    @*<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />*@
    <link rel="icon" href="@Url.Content("~/Content/blooddrop.ico")" />


    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @RenderSection("Styles", false)
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")

    @RenderSection("scripts", required: false)





</head>
<body style="background-color:#af111c">
    @*@RenderBody()*@

    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#af111c;border:#af111c">
        <div class="container">
            <div class="navbar-header">
                <div type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
            </div>
            <div class="navbar">
                <ul class="nav">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content" style="background-color:#af111c">
        @RenderBody()



    </div>



</body>
</html>
