﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -  Donate Receive</title>

    @*<link href="@Url.Content("~/Content/facebook.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/newsfeed.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="ExtraJs.js"></script>
    @*<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />*@
    <link rel="icon" href="@Url.Content("~/Content/blooddrop.ico")" />



    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @RenderSection("Styles", false)
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)






</head>
<body style="background-color:#eee">
    @*@RenderBody()*@
    <div id="fb-root"></div>
    <script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=128725074449810";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
    </script>
    <script>

    //FB.init({ appId: '353396928370526', status: true, cookie: true, xfbml: true });
    window.fbAsyncInit = function() {
        FB.init({status: true, cookie: true, xfbml: true});
        FB.Event.subscribe("xfbml.render", function() {
            console.log('xfbml.render');
            FB.Event.subscribe("comment.create", function(targetUrl) {
                console.log('edge.create');
            });
            FB.Event.subscribe("comment.remove", function(targetUrl) {
                console.log('edge.remove');
            });
        });
    };

    </script>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Donate Receive", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()



    </div>



</body>
</html>

