﻿@using Microsoft.AspNet.Identity
@model donateReceive.Models.LayoutMessageNumberViewModel

@section AddToHead{
    <link href="@Url.Content("~/Content/newsfeed.css")" rel="stylesheet" type="text/css" />
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown messages-menu" id="dropdownId">
                <a class="dropdown-toggle" data-toggle="dropdown" id="dropDownToggle" onclick="showMenu()">
                    <i class="glyphicon glyphicon-envelope"></i>
                    @if (Model.numUnreadMessages > 0)
                    {
                        <span class="label label-success">@Model.numUnreadMessages </span>
                    }
                </a>

                <ul class="dropdown-menu">
                    <li class="header">Your messages</li>
                    <li id="dropDownMenu" style="height:300px;overflow:auto">
                        <div style="text-align:center;" id="messageLoad">
                            <img src="~/Content/spin.gif" alt="Loading, please wait" height="20" width="20" />
                        </div>
                    </li>

                </ul>
            </li>
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>



            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
